/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-image: url(../images/cover-image-light.png);
  --main-color: #353430;
  --accent-color: #FF8DCB;
  --accent-color-semi-transparent: rgba(255, 141, 203, 0.4); 
  --text-color: #353430;
  --main-title-color: #FFC2E6;
}

.page.theme_light .header__rec_icon {
  display: none;
}

.page.theme_light .section__title {
  color: var(--text-color);
}