/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-color: #000028;
  --accent-color: #FF0070;
  --accent-color-semi-transparent: rgba(255, 0, 112, 0.4); 
  --text-color: #F1B2CE;
  --h1-text-color: #DB00FF;
}