/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-color: #000028;
  --accent-color: #FF0070;
  --accent-color-semi-transparent: rgba(255, 0, 112, 0.4); 
  --text-color: #F1B2CE;
  --main-title-color: #DB00FF;

  --padding: 10px;

  --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (width>= 768px) {
  :root {
    --padding: 20px;

    --title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }  
}

@media (prefers-color-scheme: light) {
  .page.theme_auto {
    --main-color: #353430;
    --accent-color: #FF8DCB;
    --accent-color-semi-transparent: rgba(255, 141, 203, 0.4); 
    --text-color: #353430;
    --main-title-color: #FFC2E6;

    background-image: url(../images/cover-image-light.png);
  }

  .page.theme_auto .header__rec_icon {
    display: none;
  }
  
  .page.theme_auto .section__title {
    color: var(--text-color);
  }
}

@media (prefers-color-scheme: dark) {
  .page.theme_auto {
    --main-color: #000028;
    --accent-color: #FF0070;
    --accent-color-semi-transparent: rgba(255, 0, 112, 0.4); 
    --text-color: #F1B2CE;
    --main-title-color: #DB00FF;
  }

  .page.theme_auto .header__rec_icon {
    display: flex;
  }

  .page.theme_auto .section__title {
    color: var(--accent-color);
  }
}